{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 p-4 text-center">
<h1 class="page-heading-no-border">{% trans "Sign In" %}</h1>
<div class="box-border">
<p>{% blocktrans %}Not already a customer? Please
<a id="sign-up-link"href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" id="login-btn" type="submit">{% trans "Sign In" %}</button>
</form>
             </div>
        </div>
    </div>
</div>

{% endblock %}
