:root {
    /** color scheme **/
    --darker-blue: #173854;
    --lighter-blue: #3163A0; 
    --darker-yellow: #E9E8A0;
    --lighter-yellow: #F0F0CC;
}

/* relative page container */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

/* navbar css */

#navbar {
    background-color: white;
    border-bottom: var(--darker-blue) solid 1px;
}

/* home page css */

.hero-container {
    position: relative;
}

.hero-image {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero-text {
    font-family: 'Lora', sans-serif, Courier, monospace;
    color: var(--darker-yellow);
    background-color: var(--lighter-blue);
    opacity: 0.88;
    padding: 2rem 3rem;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 18px;
}

.hero-text h1 {
    font-size: 55px;
    padding-bottom: 0.5rem;
}

.hero-text p {
    font-family: 'Roboto', sans-serif, Courier, monospace;
    font-size: 20px;
    padding-bottom: 0.8rem;
}

.home-btn {
    font-family: 'Roboto', sans-serif, Courier, monospace;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 28px;
    background-color: var(--darker-yellow);
    color: var(--darker-blue);
    border: 2px solid var(--darker-yellow);
    border-radius: 4px;
    transition-duration: 0.4s;
}

.home-btn:hover {
    background-color: var(--darker-blue);
    color: var(--darker-yellow);
}

/* menu page css */

.menu-heading {
    font-family: 'Lora', sans-serif, Courier, monospace;
    color: var(--darker-blue);
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-bottom: var(--darker-blue) solid 2px;
}

#menu-table-container {
    font-family: 'Lora', sans-serif, Courier, monospace;
    border: var(--lighter-blue) 2px solid;
    border-style: dotted;
    margin: 1rem;
    padding: 1rem;
}

.menu-title {
    font-size: x-large;
}

.menu-price {
    font-size: larger;
    text-align: right;
}

/* contact page css */

.contact-heading {
    font-family: 'Lora', sans-serif, Courier, monospace;
    color: var(--darker-blue);
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-bottom: var(--darker-blue) solid 2px;
}

#contact-pattern-top {
    /* background pattern from https: //superdesigner.co/tools/css-backgrounds */
    border: var(--lighter-blue) solid 2px;
    background: linear-gradient(-45deg, var(--lighter-blue) 20%, transparent 20% 80%, var(--lighter-blue) 80% 100%), linear-gradient(45deg, var(--lighter-blue) 20%, transparent 20% 80%, var(--lighter-blue) 80% 100%), linear-gradient(-45deg, var(--lighter-yellow) 33%, transparent 33% 66%, var(--lighter-yellow) 66%), linear-gradient(45deg, transparent 33%, var(--darker-yellow) 33% 66%, transparent 66%);
    background-size: 3em 3em;
    background-color: var(--lighter-yellow);
    opacity: 1
}

#contact-information {
    font-family: 'Roboto', sans-serif, Courier, monospace;
    color: var(--darker-blue);
}

#contact-information h2 {
    margin-bottom: 1.5rem;
}

#contact-information h5 {
    margin-bottom: 1.5rem;
}

#opening-hours {
    font-family: 'Roboto', sans-serif, Courier, monospace;
    color: var(--darker-blue);
    text-align: center;
}

#opening-hours h2 {
    margin-bottom: 1.5rem;
}

#contact-pattern-bottom {
    /* background pattern from https: //superdesigner.co/tools/css-backgrounds */
    border: var(--lighter-blue) solid 2px;
    background: linear-gradient(-45deg, var(--lighter-blue) 20%, transparent 20% 80%, var(--lighter-blue) 80% 100%), linear-gradient(45deg, var(--lighter-blue) 20%, transparent 20% 80%, var(--lighter-blue) 80% 100%), linear-gradient(-45deg, var(--lighter-yellow) 33%, transparent 33% 66%, var(--lighter-yellow) 66%), linear-gradient(45deg, transparent 33%, var(--darker-yellow) 33% 66%, transparent 66%);
    background-size: 3em 3em;
    background-color: var(--lighter-yellow);
    opacity: 1;
    margin-bottom: 2rem;
}

/* footer css */

#footer {
    background-color: var(--lighter-blue);
    color: var(--darker-yellow);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

