{% extends 'base.html' %}

{% block content %}

<div class="page-heading">
    <h1>Contact Us</h1>
</div>

<div class="container-fluid">
    <div class="row justify-content-center m-auto">
        <div class="col-12 p-5" id="contact-pattern-top">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-sm-12 col-md-6 p-5" id="contact-information">
            <h2>Contact Information:</h2>
            <h5><i class="fa-solid fa-phone"></i>  +123 456 7890</h5>
            <h5><i class="fa-solid fa-at"></i>  theswederestaurant@email.com</h5>
            <h5><i class="fa-solid fa-house"></i>  10 Great Food Rd, Foodtown, UK</h5>
        </div>
        <div class="col-md-6 col-sm-12 p-5" id="opening-hours">
            <h2>Opening Hours:</h2>
            <h5>
                4.00pm to 11.00pm - Every Day!
            </h5>
        </div>
    </div>
</div>
<div class="container-fluid">
        <div class="row justify-content-center m-auto">
            <div class="col-12 p-5" id="contact-pattern-bottom">
        </div>
    </div>
</div>

{% endblock %}
