{% extends 'base.html' %}

{% block content %}

<div class="hero-container">
    <img class ="hero-image" src="https://res.cloudinary.com/dlbny6lhn/image/upload/v1696083008/static/images/hero-image_dldrtz.png"
    alt="Inside a restaurant">
        <div class="hero-text">
            <h1>The Swede Restaurant</h1>
            <p>With a passion for Swedish cuisine. Welcome in!</p>
            {% if user.is_authenticated %}
            <a class="home-btn" href="{% url 'add' %}">
                Make Reservation
            </a>
            {% else %}
            <a class="home-btn"href="{% url 'reservation_login' %}">
                Make Reservation
            </a>
            {% endif %}
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div id="box1" class="col-sm-12 col-md-4 m-auto p-5">
            {% if user.is_authenticated %}
            <a class="box-btn" href="{% url 'add' %}">
            Reservations
            </a>
            {% else %}
            <a class="box-btn" href="{% url 'reservation_login' %}">
            Reservations
            </a>
            {% endif %}
        </div>
        <div id="box2" class="col-sm-12 col-md-4 m-auto p-5">
            <a class="box-btn" href="{% url 'menu' %}">
             View Menu
            </a>
        </div>
        <div id="box3" class="col-sm-12 col-md-4 m-auto p-5">
            <a class="box-btn" href="{% url 'contact' %}">
            Contact
            </a>
        </div>
        <div class="col-sm-12 col-md-12 m-auto p-5" id="box4">
            <h2 id="box4-heading">Welcome to us</h2>
            <p>
                Our mission is to offer the best of the Swedish cuisine to our customers. 
                It does not matter if you are Swedish or exploring the culture for the first time, 
                we want you to feel at home with us. We promise that our meatballs are almost as good 
                as the ones made by a Swedish grandma and to teach you everything we know about the 
                traditional "fika" (which is the best thing in the world, by the way).
                Make a reservation online today, we hope to see you soon!
            </p>
        </div>
     </div>
</div>

{% endblock %}
