{% extends 'base.html' %}

{% block content %}

<div class="hero-container">
    <img class ="hero-image" src="https://res.cloudinary.com/dlbny6lhn/image/upload/v1696083008/static/images/hero-image_dldrtz.png">
        <div class="hero-text">
            <h1>The Swede Restaurant</h1>
            <p>With a passion for Swedish cuisine. Welcome in!</p>
            {% if user.is_authenticated %}
            <a class="home-btn" href="{% url 'add' %}">
                Make Reservation
            </a>
            {% else %}
            <a class="home-btn"href="{% url 'reservation_login' %}">
                Make Reservation
            </a>
            {% endif %}
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div id="box1" class="col-sm-12 col-md-4 m-auto p-5">
            <a class="box-btn" href="{% url 'menu' %}">
            Reservations
            </a>
        </div>
        <div id="box2" class="col-sm-12 col-md-4 m-auto p-5">
            <a class="box-btn" href="{% url 'reservation_login' %}">
             View Menu
            </a>
        </div>
        <div id="box3" class="col-sm-12 col-md-4 m-auto p-5">
            <a class="box-btn" href="{% url 'contact' %}">
            Contact
            </a>
        </div>
     </div>
</div>

{% endblock %}
