{% extends 'base.html' %}

{% block content %}

<div class="menu-heading">
    <h1>Menu</h1>
</div>

<!-- customized bootstrap tables -->
<div id="menu-table-container">
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col" class="menu-title">Starters</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Toast Skagen <i>(Shrimp Toast)</i></th>
            <td class="menu-price">€8</td>
        </tr>
        <tr>
            <td>A creamy shrimp salad served on toasted bread.</td>
        </tr>
        <tr>
            <th scope="row">Sill <i>(Pickled Herring)</i></th>
            <td class="menu-price">€8</td>
        </tr>
        <tr>
            <td>Swedes love pickled herring... Try our chef's favorite.</td>
        </tr>
        <tr>
            <th scope="row">Raggmunk & Fläsk <i>(Potato Pancake & Pork)</i></th>
            <td class="menu-price">€8</td>
        </tr>
        <tr>
            <td>Potato pancakes served with pork and lingonberries.</td>
        </tr>
    </tbody>
</table>

<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col" class="menu-title">Mains</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Köttbullar & Potatismos <i>(Meatballs & Mashed Potatoes)</i> </th>
            <td class="menu-price">€12</td>
        </tr>
        <tr>
            <td>Swedish Meatballs. The heart of Swedish culture. Need we say more?</td>
        </tr>
        <tr>
            <th scope="row">Ärtsoppa & Pannkakor <i>(Pea Soup & Pancakes)</i></th>
            <td class="menu-price">€12</td>
        </tr>
        <tr>
            <td>A Thursday tradition. As odd a combination as it is delicious.</td>
        </tr>
        <tr>
            <th scope="row">Västerbottenspaj <i>(Swedish Cheese Pie)</i></th>
            <td class="menu-price">€12</td>
        </tr>
        <tr>
            <td>A savoury pie made with the fantastic "Västerbottens"cheese. Don't miss out.</td>
        </tr>
    </tbody>
</table>
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col" class="menu-title">Dessert</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Kanelbulle <i>(Cinnamon Bun)</i></th>
            <td class="menu-price">€6</td>
        </tr>
        <tr>
            <td>A sweet and warm cinnamon bun with white little pearls of sugar on top.</td>
        </tr>
        <tr>
            <th scope="row">Prinsesstårta <i>(Princess Cake)</i></th>
            <td class="menu-price">€6</td>
        </tr>
        <tr>
            <td>This green cake is as pretty as it is yummy.</td>
        </tr>
        <tr>
            <th scope="row">Semla <i>(Swedish Eclair)</i></th>
            <td class="menu-price">€6</td>
        </tr>
        <tr>
            <td>In February, Swedes celebrate "FatTuesday" by eating this sweet wheat flour bun filled with almond paste and whipped cream. Try it!</td>
        </tr>
    </tbody>
</table>
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col" class="menu-title">Drinks</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Coffee</th>
            <td class="menu-price">€5</td>
        </tr>
        <tr>
            <td>Coffee for breakfast, lunch, and dinner. And breaks. And always.</td>
        </tr>
        <tr>
            <th scope="row">Alcoholic Drinks</th>
            <td class="menu-price"></td>
        </tr>
        <tr>
            <td>Visit or contact us for the updated drink menu.</td>
        </tr>
        <tr>
            <th scope="row">Non Alcoholic Drinks</th>
            <td class="menu-price"></td>
        </tr>
        <tr>
            <td>Visit or contact us for the updated drink menu.</td>
        </tr>
    </tbody>
</table>
</div>

{% endblock %}
