{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 p-4 text-center">
            <h1 class="page-heading">My Reservations</h1>
<table>
  {% for item in information %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{{ item.date }}</td>
    <td>{{ item.time }}</td>
    <td>
      <a href="/edit/{{ item.id }}">
        <button class="edit-cancel-btn">Edit Reservation</button>
      </a>
    </td>
    <td>
      <a href="/delete/{{ item.id }}">
        <button class="edit-cancel-btn">Cancel Reservation</button>
      </a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td>There are no reservations to show right now.</td>
  </tr>
  {% endfor %}
</table>
<div class="add-btn-box">
<a class="styled-btn" href="add">Add New Reservation</a>
</div>
        </div>
    </div>
</div>


{% endblock %}
